.thumbnail {
  max-width: 200px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(113, 113, 113, 0.2);
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  margin: 0 auto 30px auto;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  text-decoration: none;
  text-align: center;
  padding: 0 40px 0 200px;
  height: 100%;
  border-radius: 4px;
}
.wrapper {
  width: 160px;
  position: absolute;
  background: #898989;
  border-radius: 4px 0px 0px 4px;
  left: 0;
  top: 0;
  bottom: 0;
}
.ico {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}