.main {
  position: relative;
}

.content {
  height: auto;
  min-height: 100%;
}
@media screen and (min-width: 750px) {
  .content {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 749px) {
  .content {
    padding-bottom: 120px;
  }
}