.logo {
  height: 90px;
  width: auto;
  margin-top: 12px;
}
.inner {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
}

.top {
  display: flex;
  padding: 20px 0;
  height: 30px;
  box-sizing: content-box;
  justify-content: space-between;
}

.container {
  background-color: #fff;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 8px 16px rgba(113, 113, 113, 0.1);
  border-bottom: 1px solid #DEE2E6;
  background-color: #f0efea;
}
@supports (-webkit-backdrop-filter: blur(10px)) {
  .container {
    backdrop-filter: blur(25px);
    background: none;
  }
}

.scrolled {
  box-shadow: 0px 8px 16px rgba(113, 113, 113, 0.2);
  border-bottom: 1px solid #DEE2E6;
}

.conetent {
  flex: 1 1;
  padding: 0 0 0 30px;
}

.company {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.slogan {
  color: #00826B;
  padding-left: 10px;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  right: 0;
  transform: translateX(80%);
  bottom: -8px;
}