.container {
  margin: 100px auto 30px;
  padding: 0 40px;
  position: relative;
}
.container::before {
  content: "";
  background: url("./fon.svg") scroll no-repeat right top;
  display: block;
  position: absolute;
  top: -25%;
  left: -5%;
  bottom: -19%;
  right: 0;
  opacity: 0.25;
}
.content {
  text-align: center;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.info {
  width: 100%;
  height: auto;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.item {
  list-style-type: none;
  width: 25%;
  padding: 0 19px;
  font-size: 19px;
  line-height: 28px;
}