.container {
  margin: 0 auto;
  position: relative;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  list-style-type: none;
  flex: 0 1 calc(50% - 10px);
  position: relative;
  min-width: 0;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 20px 30px rgba(65, 59, 134, 0.1);
  border-radius: 4px;
  color: #414141;
  
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.item:nth-child(2n) {
  margin-right: 0;
}
.title {
  text-align: center;
}
@media screen and (min-width: 750px) {
  .container {
    padding-top: 130px;
  }
  .container::before {
    content: "";
    background: url("./fon.svg") scroll no-repeat right center;
    display: block;
    position: absolute;
    top: -10%;
    left: -5%;
    bottom: -19%;
    right: 0;
    opacity: 0.2;
  }
  .list {
    justify-content: space-between;
  }
  .item {
    height: 160px;
    font-size: 24px;
    line-height: 36px;
  }
}
@media screen and (min-width: 750px) and (max-width: 768px) {
  .item {
    height: 100px;
    line-height: 1.5;
    font-size: 20px;
  }
}
@media screen and (max-width: 749px) {
  .container {
    padding-top: 30px;
  }
  .item {
    height: 80px;
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    flex: 1 0 100%;
  }
  .item:nth-child(2) {
    order: 2;
  }
  .item:nth-child(3) {
    order: 1;
  }
}