.container {
  background-color: #248E65;
  padding: 15px 0;
  color: #fff;
  height: 60px;
  margin-top: -60px;
  min-width: 100%;
  min-width: 1024px;
}
.inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.copy {
  color: #fff;
  text-align: right;
}
