.container {
  position: relative;
}
.map {
  height: 400px;
  width: 100%;
  background-color: #F0EFEA;
}
.title {
  text-align: center;
}
.content {  
  position: relative;
  overflow: hidden;
  display: flex;
}
.contacts {
  position: relative;
  text-align: center;
  box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.1);
}
.header {
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 10px;
  
}

.column {
  display: flex;
  flex-direction: column;
}
.place {
  font-weight: normal;
}
.footer {
  background-color: #F0EFEA;
  height: 40%;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}
.tel {
  display: block;
  color: #248E65;
  text-decoration: none;
  margin-top: auto;
}
.mail {
  text-decoration: none;
  margin-bottom: auto;
}
@media screen and (min-width: 750px) {
  .container {
    padding-top: 130px;
  }
  .content {
    display: flex;
  }
  .contacts {
    flex: 0 0 35%;
    min-width: 450px;
    width: 35%;
  }
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
  }
  .header::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(-100%);
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 749px) {
  .container {
    padding-top: 30px;
  }
  .content {
    flex-direction: column;
  }
  .map {
    order: 2;
  }
  .contacts {
    order: 1;
  }
  .column {
    margin: 20px auto;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .footer {
    margin: 18px auto;
  }
}