.container {
  padding-top: 130px;
}
.map {
  height: 400px;
  width: 100%;
  background-color: #F0EFEA;
}
.title {
  text-align: center;
}
.content {  
  position: relative;
  display: flex;
  overflow: hidden;
}
.contacts {
  flex: 0 0 35%;
  min-width: 450px;
  position: relative;
  text-align: center;
  width: 35%;
  box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.1);
}
.header {
  background-color: #fff;
  height: 60%;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.header::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-right-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateX(-100%);
}
.column {
  display: flex;
  flex-direction: column;
}
.subtitle {
  font-size: 18px;
  margin-bottom: 18px;
}
.region {
  /* margin-top: auto; */
  /* margin-bottom: 30px; */
  /* font-weight: bold; */
}
.place {
  /* margin-bottom: auto; */
  /* color: #248E65; */
  font-weight: normal;
}
.footer {
  background-color: #F0EFEA;
  height: 40%;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}
.tel {
  display: block;
  color: #248E65;
  text-decoration: none;
  margin-top: auto;
}
.mail {
  text-decoration: none;
  margin-bottom: auto;
}